<img src="assets/images/map-bg.jpg" class="bg">
<div class="container">
  <header class="row">
    <div class="col-md-12">
      <img class="logo" alt="Train Savings" src="assets/images/train-savings.png" />
    </div>
  </header>

  <p><strong>I was asked one day what taking the train to work saves me.</strong>
    I had no idea.
    A little bit of math later, I had my answer, and thought, "People may find
    this useful!" Just fill out the pertinent info below, and find out what you're
    saving, or could be saving. Or don't, it's a free world, you do what you want.
    I've put my numbers in just to give you a starting point.</p>

  <div>
  {{outlet}}
  </div>

  <footer>
    An small exercise in <a href="http://emberjs.com">Ember.js</a> by <a href="https://www.goettner.net">Lew Goettner</a>. <a href="https://github.com/lewg">Fork it here.</a> 
  </footer>

</div>
